.nav-container-outer {
  .nav-container {

    font-family: var(--title-main);
    font-weight: bold;
    background-color: $brown;
    color: $white;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow-x: hidden; // prevent content overflow for ultra small devices < 320px

    .nav-inner-container {
      max-width: 1080px;
      height: 100%;
      margin: 0 auto;
    }
    .nav-logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img.logo {
        margin-right: 15px;
      }
    }
    ul, li { /* reset the margin and padding */
      margin: 0;
      padding: 0;
    }
    ul {
      height: 100%;
      height: 80px;
      list-style:none;
      display: flex;
      margin-left: 10px;
      margin-right: 20px;
    }
    li {
      // padding: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      &.selected {
        transform: scale(1.5);
        font-weight: bold;
        // padding:0;
      }
    }
    .scale-on-hover:hover {
      transform: scale(1.5);
      font-weight: bold;
      transition: all 0.2s ease;
    }
    li:first-child {
      margin-right: auto;
    }

    .hamburger-container {
      margin-right: 10px;
    }
    .hamburger-item {
      display: none; // desktop view => do not show by default
      margin: 0;
    }


    // MEDIA QUERIES
    @media (max-width: 630px) {
      .nav-item {
        display: none !important;
        background-color: red;
      }
      .hamburger-item {
        display: flex !important;
        justify-content: center;
        align-items: center;
      }
      .nav-inner-container {
        ul {
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }

    @media (max-width: 400px) {
      ul {
        margin-left: 0;
        margin-right: 0;
      }
    }
    @media (max-width: 350px) {
      img.logo {
        height: 35px;
      }
      img.logo-text {
        height: 19px;
      }
      .nav-container {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .mobile-menu {
    background-color: $brown;
    position: absolute;
    right: 0;
    z-index: 2;
    height: calc(100vh - 96px);
    width: 0px;
    overflow: hidden;
    transition: width 0.2s ease-in;
    &.open {
      width: 100%;
    }
    .mobile-menu-inner-container {
      padding: 0px 35px;
      h2 {
        font-size: 32px;
      }
    }
  }
}


