.wtf-container {

    @media (max-width: 1080px) {
        .gif-left, .gif-right {
            visibility: hidden;
        }
    }
    overflow-x: hidden;
    position: relative;
    padding-bottom: 2rem;

    .gif-left {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
        object-fit: cover;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .gif-right {
        position: absolute;
        top: 2rem;
        right: 0;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    h1 {
        display: grid;
        place-items: center;
        font-size: clamp(2rem, 10vw, 3rem);
        font-family: var(--title-font);
        color: $brown;
    }

    .description {
        display: block;
        margin: auto;
        width: clamp(33ch, 63%, 66ch);
        color: $brown;
    }


    .image-wrapper {
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr 2fr;
        width: clamp(33ch, 63%, 66ch);
        height: auto;
        margin: 0 auto;
        padding: 2rem 0 2rem 0;
    }

    .image-stack {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-rows: 80% 20%;
    }

    .hyperlink {
        color: $brown;
    }
    .hyperlink:hover {
        color: $pink;
    }

    .img-wrapper {
       overflow: hidden;
       background-color: white;
       display: block;
       margin: 0 auto;
       height: auto;
    }
    .image-stack img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
     }

    .image-stack div {
        display: grid;
        place-items: center;
        text-align: center;
        font-size: clamp(1.2rem, 4vw, 2rem);
        font-family: var(--title-font);
        color: $brown;
        margin-top: 10px;
    }


}